name: footline
description: "A new Flutter project."

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  salomon_bottom_bar: ^3.3.2

  cupertino_icons: ^1.0.8
  flutter_launcher_icons: ^0.14.3
  awesome_dialog: ^3.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true
  assets:
  -  assets/
  -  assets/img/

flutter_icons:
  android: true
  ios: true
  image_path: "assets/img/img_app/logo 1.png"